name: PPUC
on:
  push:

jobs:
  build:
    name: Build PinMAME/PPUC-${{ matrix.cpu_info }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        arch: [armv6l, armv7l, aarch64]
        include:
          - arch: armv6l
            cpu: arm1176
            base_image: raspios_lite:latest
            cpu_info: raspberrypi_zero_w
          - arch: armv7l
            cpu: cortex-a7
            base_image: raspios_lite:latest
            cpu_info: raspberrypi_3b
          - arch: aarch64
            cpu: cortex-a53
            base_image: raspios_lite_arm64:latest
            cpu_info: raspberrypi_zero2_w_arm64_w
    steps:
      - uses: pguyot/arm-runner-action@v2
        with:
          base_image: ${{ matrix.base_image }}
          cpu: ${{ matrix.cpu }}
          cpu_info: ${{ matrix.cpu_info }}
          commands: |
            test `uname -m` = ${{ matrix.arch }}
            grep Model /proc/cpuinfo
            make -f makefile.ppuc
